<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>

<table id="customers">
  <tr>
    <th>Route</th>
    <th>Method</th>
    <th></th>
  </tr>
    <tr>
        <td>Registration</td>
        <td>Post</td>
        <td>For Registration New User</td>
    </tr>
    <tr>
        <td>login</td>
        <td>Post</td>
        <td>For login</td>
    </tr>
    <tr>
      <td>Upload</td>
      <td>Post</td>
      <td>For photo upload</td>
    </tr>
    <tr>
        <td>id</td>
        <td>Get</td>
        <td>For Use adultphotopost , adultvideopost , kidsphotopost , kidsvideopost , adultphoto , adultvideo , kidsphoto , kidsvideo Id & Get Data </td>
    </tr>
</table>

</body>
</html>
<!DOCTYPE html>